body {
  padding: 0;
}

.navbar {
  height: 8vh;
  margin-top: 0;
  background-color: #1677ff;
  margin-bottom: 3vh;
  display: flex;
  justify-content: center;
}

#navbar-heading {
  color: #fff;
}

#new-booking-button {
  margin-right: 1rem;
}

#new-booking-section {
  display: flex;
  justify-content: flex-end;
}

#fetch-slots-form {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.fetch-slots-input {
  margin-right: 1rem;
}
